BasedOnStyle: Microsoft
#IndentWidth: 4
UseTab: Never
TabWidth: 4
BreakBeforeBraces: Custom
BraceWrapping:
  AfterEnum: true
  AfterStruct: true
  AfterClass: true
  SplitEmptyFunction: false
ColumnLimit: 0
AccessModifierOffset: -4
SortIncludes: false
AllowShortEnumsOnASingleLine: true
AllowShortBlocksOnASingleLine: false
AlignAfterOpenBracket: Align
AllowShortFunctionsOnASingleLine: Inline
PointerAlignment: Left
AllowShortIfStatementsOnASingleLine: true
SpacesBeforeTrailingComments: 2
AllowShortCaseLabelsOnASingleLine: true
IndentCaseLabels: true
AlwaysBreakTemplateDeclarations: Yes